// Colors
$background-color: gray;
$text-color: white;
$navbar-background: #0f0f0f;
$navbar-icon-background: #272727;

// Sizes
$navbar-height: 70px;
$input-height: 40px;
$input-border-radius: 20px;
$icon-size: 40px;

body {
  background-color: $background-color;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

span {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.main-navbar-div {
  background-color: $navbar-background;
  padding: 0px 20px;
  height: $navbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-left-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.humber-icon {
  height: $icon-size;
  width: $icon-size;
  border-radius: 50%;
  background-color: $navbar-icon-background;
  display: flex;
  justify-content: center;
}

.youtube-icon {
  height: 25px;
  min-width: 70px;
}

.main-search-bar {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.navbar-search-bar {
  display: flex;
  align-items: center;
  background-color: $navbar-icon-background;
  height: $input-height;
  width: 90%;
  border-radius: $input-border-radius;
}

.input-field {
  width: calc(100% - 50px);
  height: $input-height;
  border-radius: $input-border-radius 0 0 $input-border-radius;
  border: 1px solid $navbar-icon-background;
  padding-left: 10px;
  outline-color: blue;
  font-size: 17px;
  background-color: $navbar-background;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 50px;
}

.voice-icon {
  border-radius: 50%;
  background-color: $navbar-icon-background;
  width: $icon-size;
  height: $icon-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.create-icon,
.notificationIcon,
.profileIcon {
  border-radius: 50%;
  background-color: $navbar-icon-background;
  width: $icon-size;
  height: $icon-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileIcon {
  cursor: pointer;
}

.main-sidebar-div {
  top: $navbar-height - 16px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
  padding: 20px 0px;
  width: 100px;
  height: calc(100vh - $navbar-height);
  background-color: black;
  position: fixed;

  .aside-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 8px 18px;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      background-color: $navbar-icon-background;
    }

    span {
      color: $text-color;
      font-size: 12px;
    }
  }
}

.main-body-container {
  display: flex;
}

.main-body {
  margin-top: $navbar-height;
  height: 100vh;
  margin-left: auto;
  width: calc(100vw - 100px);
  
}

.home {
  height: 150vh;
}